:root {
    --white-theme: rgb(239, 250, 255);
    --black-theme: #333 ;
  }
*{
    box-sizing: border-box;
    margin: 0;
}
html , body{
    height: 100%;
}
body{
    background-color: var(--white-theme) ;
    transition: 0.5s;
}